# Bun, Zola, Tailwind
node_modules/
dist/
static/styles.css
static/scripts.min.js
static/sprites.svg
static/processed_images/
static/pocketbase/

# POCKETBASE
secrets.json
pocketbase/

# Site Specific
content/link/*/
