@import 'tailwindcss';
@config './tailwind.config.js';

@theme {
  --color-background: var(--color-black);
  --color-on-background: var(--color-zinc-200);
  --color-surface: var(--color-zinc-900);
  --color-ascent: var(--color-red-600);
  --color-flair: var(--color-yellow-400);
}

.pseudo {
    content: "\200C";
}

.regen-title {
  @apply text-2xl md:text-4xl lg:text-5xl text-center pb-8 px-2 font-bold;
  b {
    @apply text-ascent;
  }
}

.regen-button {
  @apply rounded-full border-zinc-200 border-2 flex justify-center items-center mx-6 p-4 gap-4 font-semibold text-lg;
}

.regen-service-title {
  @apply rounded-full border-zinc-200 border-y-2 border-l-2 flex justify-center items-center mx-6 p-4;
}

hr {
  @apply mx-4 my-8;
}
