@import 'tailwindcss';
@config './tailwind.config.js';

:root {
  --regen-background: var(--color-white);
  --regen-onBackground: var(--color-black);
  --regen-surface: var(--color-zinc-200);
  --regen-ascent: var(--color-red-600);
  --regen-flair: var(--color-yellow-400);
}

[data-theme="dark"] {
  --regen-background: var(--color-zinc-900);
  --regen-onBackground: var(--color-zinc-200);
  --regen-surface: var(--color-zinc-700);
  --regen-ascent: var(--color-red-600);
  --regen-flair: var(--color-yellow-400);
}

@theme {
  --color-background: var(--regen-background);
  --color-onBackground: var(--regen-onBackground);
  --color-surface: var(--regen-surface);
  --color-ascent: var(--regen-ascent);
  --color-flair: var(--regen-flair);
}

/* ============================================= */
/* TAGS */
/* ============================================= */

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-lg;
}

hr {
  @apply mx-4 my-8;
}

/* ============================================= */
/* CUSTOM CLASSES */
/* ============================================= */

@layer components {
  .regen-button {
    @apply rounded-full border-onBackground border-2;
    @apply flex justify-center items-center p-4 gap-4 w-full max-w-xs mx-auto;
    @apply font-semibold;
    @apply overflow-x-auto;
  }
}

.pseudo {
    content: "\200C";
}

.regen-title {
  @apply text-2xl md:text-4xl lg:text-5xl text-center pb-8 px-2 font-bold;
  b {
    @apply text-ascent;
  }
}

.regen-service-title {
  @apply rounded-full border-zinc-200 border-y-2 border-l-2 flex justify-center items-center mx-6 p-4;
}

.regen-service-cards {
  @apply flex gap-4 overflow-x-auto mx-4 md:mx-auto;
}
