{% import "macros/image.html" as img_macro %}

{% macro image_with_caption(image, title, body="") %}
  
  <div class="flex-shrink-0 relative">
    {{ img_macro::standalone(
        image=image,
        sizes="18rem",
        alt="service-preview",
        class="rounded-md aspect-[9/16] w-2xs object-cover",
    ) }}
    <div class="absolute bottom-10 left-0 bg-black/40 flex flex-col gap-2 items-end justify-end p-4 w-full text-white">
      <h3 class="text-center w-full">{{ title }}</h3>
      {% if body | length != 0 %}
        <p>{{ body }}</p>
      {% endif %}
    </div>
  </div>

{% endmacro image_with_caption %}

{% macro icon_with_caption(icon, iconColor="text-onBackground", background="bg-orange-500", title, body="") %}

  {% set sprites = get_url(path='sprites.svg', cachebust=true) | safe %}
  
  <div class="flex-shrink-0 relative">
    <div class="{{ background }} flex items-center justify-center rounded-md aspect-[9/16] w-2xs">
      <svg class="{{ 'size-28 ' ~ iconColor }}"><use href="{{ sprites ~ '#' ~ icon }}"></use></svg>
    </div>
    <div class="absolute bottom-10 left-0 bg-black/40 flex flex-col gap-2 items-end justify-end p-4 w-full text-white">
      <h3 class="text-center w-full">{{ title }}</h3>
      {% if body | length != 0 %}
        <p>{{ body }}</p>
      {% endif %}
    </div>
  </div>

{% endmacro %}

{% macro connect_form(id, icon, title, subtitle) %}

{% set sprites = get_url(path='sprites.svg', cachebust=true) | safe %}

<label class="cursor-pointer select-none">
  <input type="checkbox" name="connect-form" class="peer hidden" value="{{ id }}">
  <div class="flex rounded-md bg-surface p-4 gap-4 border-2 border-transparent peer-checked:border-flair peer-checked:[&_.cancel-form]:block transition-colors">
    <svg class="size-16 place-self-center">
      <use href="{{ sprites ~ '#' ~ icon }}"></use>
    </svg>
    <div class="flex flex-col w-full text-left">
      <h4 class="font-bold">{{ title }}</h4>
      <p class="text-onBackground/90 text-sm"> {{ subtitle }} </p>
    </div>
    <svg class="size-5 place-self-center text-flair hidden cancel-form">
      <use href="{{ sprites ~ '#' ~ 'x-mark' }}"></use>
    </svg>
  </div>
</label>


{% endmacro %}
