{% macro parallax(image) %}
    {% set mdata = get_image_metadata(path=image) %}

    <div class="bg-center bg-fixed absolute top-0 left-0 h-full w-full"
         style="background-image:url('{{ get_url(path=image) }}')"
    ></div>
{% endmacro parallax %}

{% macro simple(image, sizes, alt, class="", op="fit_width") %}
  {% set mdata = get_image_metadata(path=image) %}
  {% set sm = resize_image(path=image, width=360, height=mdata.height, op=op, format="webp", quality=75) %}
  {% set md = resize_image(path=image, width=720, height=mdata.height, op=op, format="webp", quality=75) %}
  {% set lg = resize_image(path=image, width=1080, height=mdata.height, op=op, format="webp", quality=75) %}
  {% set xl = resize_image(path=image, width=1920, height=mdata.height, op=op, format="webp", quality=75) %}

  <img 
    class="{{ class }}"
    src="{{ xl.url }}" 
    srcset="
      {{ sm.url }} {{ sm.width }}w,
      {{ md.url }} {{ md.width }}w,
      {{ lg.url }} {{ lg.width }}w,
      {{ xl.url }} {{ xl.width }}w,
    "
    sizes="{{ sizes }}"
    alt="{{ alt }}"
    height="{{ xl.height }}"
    width="{{ xl.width }}"
  >
{% endmacro simple %}

{% macro standalone(image, sizes, alt, class="", op="fit_width") %}
    {% set image_json = load_data(path="pb/Images/" ~ image ~ ".json", format="json") %}
    {% set image_path = "pb/Images/images/" ~ image_json.image %}

    {{ img_macro::simple(
      image=image_path,
      alt=alt,
      sizes=sizes,
      class=class,
      op=op
    ) }}
{% endmacro simple %}


{% macro with_heading(image, alt, title, title_class="") %}
  <div class="relative">
    {{ img_macro::standalone(
      image=image,
      alt=alt,
      sizes="100vw",
      class="h-[30vh] lg:h-[50vh] w-full object-cover bg-no-repeat bg-cover bg-center object-top",
      op="fill"
    ) }}

    <div class="absolute inset-0 h-full flex items-center justify-center text-white bg-black/60">
      <div class="text-center uppercase font-semibold p-4 font-alumni text-7xl border-x-2 border-flair px-8 {{ title_class }}">
        {{ title }}
      </div>
    </div>
  </div>
{% endmacro %}

