{% macro simple(
    image,
    sizes,
    alt,
    class="",
    image_class="",
    op="fit_width",
    priority=false
) %}
{% set filename = image | split(pat="/") | last %}
{% set lqip_file = "pocketbase/lqip/" ~ filename ~ ".base64" %}
{% set lqip = load_data(path=lqip_file) %}
{% set mdata = get_image_metadata(path=image) %}
{% set sm = resize_image(path=image, width=360, height=mdata.height, op=op, format="avif", quality=50) %}
{% set md = resize_image(path=image, width=720, height=mdata.height, op=op, format="avif", quality=50) %}
{% set lg = resize_image(path=image, width=1080, height=mdata.height, op=op, format="avif", quality=50) %}
{% set xl = resize_image(path=image, width=1920, height=mdata.height, op=op, format="avif", quality=50) %}

<div class='{{ "relative bg-cover bg-center rounded-md " ~ class }}'
    style="aspect-ratio: {{ xl.width / xl.height }}; background-image: url('{{ lqip }}')">
    <img {% if priority %} fetchpriority="high" {% endif %}
        class="{{ 'absolute inset-0 opacity-0 transition-opacity duration-700 rounded-md ' ~ image_class }}"
        src="{{ xl.url }}"
        srcset="{{ sm.url }} {{ sm.width }}w,
          {{ md.url }} {{ md.width }}w,
          {{ lg.url }} {{ lg.width }}w,
          {{ xl.url }} {{ xl.width }}w"
        sizes="{{ sizes }}"
        alt="{{ alt }}"
        height="{{ xl.height }}" width="{{ xl.width }}"
        onload="this.classList.remove('opacity-0')"
    >
</div>
{% endmacro simple %}

{% macro standalone(image, sizes, alt, class="", image_class="", op="fit_width", priority=false) %}
{% set image_json = load_data(path="pocketbase/Images/" ~ image ~ ".json", format="json") %}
{% set image_path = "pocketbase/Images/images/" ~ image_json.image %}

{{ img_macro::simple(
    image=image_path,
    alt=alt,
    sizes=sizes,
    class=class,
    image_class=image_class,
    op=op,
    priority=priority
) }}

{% endmacro simple %}
