{% macro simple(image, sizes, alt, class="", op="fit_width") %}
  {% set mdata = get_image_metadata(path=image) %}
  {% set sm = resize_image(path=image, width=360, height=mdata.height, op=op, format="webp", quality=75) %}
  {% set md = resize_image(path=image, width=720, height=mdata.height, op=op, format="webp", quality=75) %}
  {% set lg = resize_image(path=image, width=1080, height=mdata.height, op=op, format="webp", quality=75) %}
  {% set xl = resize_image(path=image, width=1920, height=mdata.height, op=op, format="webp", quality=75) %}

  <img 
    class="{{ class }}"
    src="{{ xl.url }}" 
    srcset="
      {{ sm.url }} {{ sm.width }}w,
      {{ md.url }} {{ md.width }}w,
      {{ lg.url }} {{ lg.width }}w,
      {{ xl.url }} {{ xl.width }}w,
    "
    sizes="{{ sizes }}"
    alt="{{ alt }}"
    height="{{ xl.height }}"
    width="{{ xl.width }}"
  >
{% endmacro simple %}

{% macro standalone(image, sizes, alt, class="", op="fit_width") %}
    {% set image_json = load_data(path="pocketbase/Images/" ~ image ~ ".json", format="json") %}
    {% set image_path = "pocketbase/Images/images/" ~ image_json.image %}

    {{ img_macro::simple(
      image=image_path,
      alt=alt,
      sizes=sizes,
      class=class,
      op=op
    ) }}
{% endmacro simple %}


