<div class="bg-slate-100 rounded-md">

    {% set optimg_class = "rounded-t-md mb-4 max-w-[85vw] md:max-w-[calc(33vw-26px)]" %}
    {% set optimg_alt = "service highlight" %}
    {% set optimg_sizes = "(max-width: 768px) 90vw, (max-width: 1200px) 30vw" %}
    {% include "partial/optimised_image.html" %}

    <div class="text-black px-4">
        <div class="text-4xl font-bold relative">
          <div class="absolute top-0 left-0"> {{ title }} </div>
          <div class="psuedo py-2"></div>
          <div class="psuedo bg-blue-500 py-2"></div>
        </div>
        <div class="[&>ul]:list-disc pl-5 text-2xl [&>ul>li]:py-2">
          {{ body | markdown | safe }}
        </div>
    </div>
</div>
