<div class="relative">
    {% set meta = get_image_metadata(path=image) %}
    {% set small = resize_image(path=image, width=1280, height=720, op="fill", format="webp", quality=70) %}
    {% set big = resize_image(path=image, width=1920, height=1080, op="fill", format="webp", quality=70) %}

    <picture>
      <source media="(max-width: 767px)" srcset="{{ small.url }}">
      <img 
        class="h-[calc(100vh-4rem)] w-full object-cover"
        src="{{ big.url }}" 
        alt="cover image"
      >
    </picture>
    <div class="absolute w-full bg-blackTransparent bottom-8 left-0 px-4 py-8 text-2xl md:text-4xl lg:text-5xl font-bold">
      <div class="flex">
        <div class="psuedo h-2 w-36 bg-red-600 mb-4"></div>
        <div class="psuedo grow"></div>
      </div>
      {{ body | safe }}
    </div>
</div>
