{% import "macros/image.html" as img_macro %}
{% set sprites = get_url(path='sprites.svg', cachebust=true) | safe %}

<div class="grid md:grid-cols-3 gap-4">
  <div class="md:col-span-3 text-center">
    <h1 class="uppercase font-bold mb-0">{{ name }}</h1>
    <h4 class="text-onBackground/80 mt-0">{{ role }}</h4>
  </div>
  <div class="flex flex-col gap-4 rounded-md pb-4">
    <div class="aspect-square overflow-hidden rounded-t-md mb-2">
      {{ img_macro::simple(
          image=image,
          sizes="100vw",
          alt="{{ name ~ ' portrait' }}",
          class="h-full w-full object-cover rounded-md",
      ) }}
    </div>
    <a href="tel:{{ number | replace(from=' ', to='') }}">
      <div class="regen-button justify-start">
        <svg class="text-blue-600"><use href="{{ sprites }}#telephone"></use></svg>
        <div>{{ number }}</div>
      </div>
    </a>
    <a href="mailto:{{ email }}">
      <div class="regen-button justify-start">
        <svg class="text-green-600"><use href="{{ sprites }}#email"></use></svg>
        <!-- Padding apply directly to email to make overflows look better. -->
        <div class="w-1 grow"><span class="pr-4">{{ email }}</span></div>
      </div>
    </a>
    <div class="flex gap-4 pt-2 px-4 mx-auto w-full max-w-xs">
      <svg><use href="{{ sprites }}#palm-tree-beach"></use></svg>
      <div class="font-semibold">{{ 'Day Off: ' ~ day_off }}</div>
    </div>
  </div>

  <div class="md:col-span-2 px-4">
    {{ body | markdown | safe }}
  </div>

</div>
