{% set big_image = "build_only/images/regen_map.png" %}
{% set big_meta = get_image_metadata(path=big_image) %}
{% set big = resize_image(path=big_image, height=big_meta.height, op="fit_height", format="webp", quality=70) %}

{% set small_image = "build_only/images/regen_map_small.png" %}
{% set small_meta = get_image_metadata(path=small_image) %}
{% set small = resize_image(path=small_image, height=small_meta.height, op="fit_height", format="webp", quality=70) %}

<div class="flex justify-center">
  <div class="p-4 aspect-square w-[95vw] md:w-[540px] lg:w-[720px]">
    <a href="https://maps.app.goo.gl/s9WxYijs8rEQn3X18" target="_blank">
      <picture>
        <source media="(max-width: 767px)" srcset="{{ small.url }}">
        <img 
          class="rounded-md shadow-md shadow-black"
          src="{{ big.url }}" 
          alt="cover image"
        >
      </picture>
    </a>
  </div>
</div>
