{% set data = load_data(path="build_only/sermon_series.yaml", format="yaml") %}

<div class="grid md:grid-cols-4 grid-cols-2 gap-2 px-4 [&>*:nth-child(n+4)]:hidden ">

  {% for series in data %}
    <a href={{ series.link }} target="_blank">
      <div class="rounded-md">
        {% set image = "build_only/sermons/" ~ series.image ~ ".png" %}
        {% set optimg_class = "rounded-md" %}
        {% set optimg_alt = "sermon series thumbnail" %}
        {% set optimg_sizes = "50vw" %}
        {% include "partial/optimised_image.html" %}
      </div>
    </a>
  {% endfor %}

    <div class="bg-indigo-300 rounded-md !flex flex-col items-center justify-center font-bold gap-2">
      <div class="text-2xl text-zinc-300">MORE</div>
      <div class="flex items-center gap-2">
        <div class="psuedo rounded-full bg-zinc-300 w-6 h-6 drop-shadow-xl"></div>
        <div class="psuedo rounded-full bg-zinc-300 w-6 h-6 drop-shadow-xl"></div>
        <div class="psuedo rounded-full bg-zinc-300 w-6 h-6 drop-shadow-xl"></div>
      </div>
    </div>

</div>


