{% macro icon_with_caption(image, title, body="") %}
  
  <div class="flex-shrink-0 relative">
    {{ img_macro::standalone(
        image=image,
        sizes="18rem",
        alt="service-preview",
        class="rounded-md aspect-[9/16] w-2xs object-cover",
    ) }}
    <div class="absolute bottom-10 left-0 bg-black/40 flex flex-col gap-2 items-end justify-end p-4 w-full text-white">
      <h3 class="text-center w-full">{{ title }}</h3>
      {% if body | length != 0 %}
        <p>{{ body }}</p>
      {% endif %}
    </div>
  </div>

{% endmacro image_with_caption %}

<div class="flex gap-4 overflow-x-auto max-w-fit md:mx-auto my-4">

    {{ self::icon_with_caption(
      image="sprouts",
      title="Sprouts",
      body="For toddlers and pre-schoolers (~2 to 5yo)"
    ) }}
    {{ self::icon_with_caption(
      image="buds",
      title="Buds",
      body="For children who have started school (~5 to 12yo)"
    ) }}

</div>
