{% extends "base.html" %}

{% import "macros/image.html" as img_macro %}

{% block content %}

{% include "partial/header_image.html" %}

<main class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  {% set_global annc_array = [] %}
  {% set files = load_data(path="pocketbase/Announcements/filenames.json", format="json") %}
  {% for announcement_file in files %}
    {% set data = load_data(path="pocketbase/Announcements/" ~ announcement_file, format="json") %}
    {% set_global annc_array = annc_array | concat(with=data) %}
  {% endfor %}
  {% set_global annc_array = annc_array | sort(attribute="startdate") %}

  {% for data in annc_array %}
    {% set image = 'pocketbase/Announcements/images/' ~ data.image %}
    {% set mdata = get_image_metadata(path=image) %}
    {% set md = resize_image(path=image, width=720, height=mdata.height, op="fit_width", format="avif", quality=50) %}
    {% set xl = resize_image(path=image, width=1920, height=mdata.height, op="fit_width", format="avif", quality=50) %}

    <a href="{{ xl.url }}" target="_blank">
      <div class="bg-surface shadow-xs shadow-stone-400 rounded-md h-full">
        <img class="rounded-t-md" src="{{ xl.url }}"
          srcset="{{ md.url }} {{ md.width }}w,
            {{ xl.url }} {{ xl.width }}w"
          sizes="(min-width: 1040px) 320px, (min-width: 780px) calc(50vw - 24px), calc(100vw - 32px)"
          alt="{{ data.title ~ 'Poster' }}"
          height="{{ xl.height }}" width="{{ xl.width }}">
        <div class="p-4 flex flex-col gap-2 relative">
          <div
            class="flex flex-col absolute rounded-full bg-primary -top-6 right-2 aspect-square h-16 text-white text-wrap text-center leading-none">
            {% set my_date = data.startdate | replace(from=" ", to="T") %}
            <div class="text-xs -mb-1 mt-1">{{ my_date | date(format="%a") }}</div>
            <div class="text-2xl font-bold">{{ my_date | date(format="%-d") }}</div>
            <div class="text-xs -mt-1">{{ my_date | date(format="%b") }}</div>
          </div>
          <h4 class="font-semibold pr-16"> {{ data.title }} </h4>
          <div class="flex gap-4">
            <svg>
              <use href="{{ sprites }}#map-pin"></use>
            </svg>
            {% if data.location == '' %}
            Church
            {% else %}
            data.location
            {% endif %}
          </div>
          {% if data.extra_info != '' %}
          <div>
            {{ data.extra_info }}
          </div>
          {% endif %}
        </div>
      </div>
    </a>
  {% endfor %}

</main>

{% endblock %}
