{% set sprites = get_url(path='sprites.svg', cachebust=true) | safe %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Come join us, a gospel-centred, community on mission for Jesus in Clayton, City of Monash. We meet every Sunday 10AM, 2PM and 5PM.">
  <title>Regeneration Church Monash</title>

  <link rel="icon" type="image/svg" href="{{ get_url(path='favicon.svg') | safe }}">

  {% if config.mode == "serve" %}
  <script type="text/javascript" defer src="{{ get_url(path='scripts.js', cachebust=true) | safe }}"></script>
  {% else %}
  <script type="text/javascript" defer src="{{ get_url(path='scripts.min.js', cachebust=true) | safe }}"></script>
  {% endif %}

  <link rel="stylesheet" href="{{ get_url(path='styles.css', cachebust=true) | safe }}">
</head>

<body class="bg-background text-onBackground">
  {% include "partial/navbar.html" %}

  {% block content %} {% endblock %}

  {% include "partial/footer.html" %}
</body>

</html>
