{% extends "base.html" %}
{% import "macros/image.html" as img_macro %}
{% import "macros/card.html" as card_macro %}

{% block content %}

<h1 id="mc-locations">MC Locations</h1>

{% include 'partial/mc_locations.html' %}

<h1>Giving</h1>

<p>
The work of the church is made possible by the generous giving of God’s people.
If you are a member or regular attendee who would like to give to the work of
the church, you can give electronically by depositing funds into one of the
following accounts:
</p>

<h2>MORNING CHURCH – OFFERING/PLEDGE</h2>

Name: Regeneration Church Monash Incorporated

BSB: 033-385 (Westpac)

ACC: 191311

REF: “[name/anon] – pledge” or “[name/anon] – offering”

For example “VINH – OFFERING”

<h2>NIGHT CHURCH – OFFERING/PLEDGE</h2>

Name: Regeneration Church Monash Incorporated

BSB: 033-385 (Westpac)

ACC: 192891

REF: “[name/anon] – pledge” or “[name/anon] – offering”

For example “VINH – OFFERING”

<h2>OTHER/DESIGNATED FUNDS</h2>

PayID: 89 655 781 797

Name: Regeneration Church Monash Incorporated

BSB: 033-385 (Westpac)

ACC: 192904

REF: “[name/anon] – description”

For example “ANON – MEAL” ; “VINH – FOR NARA”

<h2>INTERNATIONAL SUPPORT</h2>

Account Holder: Regeneration Church Monash Incorporated

Routing Number: 084009519

Account number: 9600002236432804

Account type: Checking

Bank: Wise

Wise Address: 19 W 24th Street, New York NY 10010, United States

<p>
As a new church plant, we also appreciate the support of external donors. If you
are not a member or attendee of the church, but would like to give, please
contact Kien.
</p>

{% endblock content %}
