{% extends "base.html" %}
{% import "macros/image.html" as img_macro %}

{% block content %}
  <main>
    {% if page.title is defined %}
      {% set title = page.title %}
    {% elif section.title is defined %}
      {% set title = section.title %}
    {% endif %}
    {{ img_macro::with_heading(
      image=page.extra.header_image | default(value="placeholder"),
      alt="header_image",
      title=title,
    )}}

    <article class="p-4 mt-8 max-w-3xl mx-auto w-full">
      {% if page.content is defined %}
        {% set content = page.content %}
      {% elif section.content is defined %}
        {% set content = section.content %}
      {% endif %}
      {{ content | safe }}
    </article>


    <p>
      The work of the church is made possible by the generous giving of God’s people.
      If you are a member or regular attendee who would like to give to the work of
      the church, you can give electronically by depositing funds into one of the
      following accounts:

      {% include "partial/giving_accounts.html" %}

      As a new church plant, we also appreciate the support of external donors. If you
      are not a member or attendee of the church, but would like to give, please
      contact Kien.
    </p>
  </main>
{% endblock content %}
