{% extends "base.html" %}
{% import "macros/image.html" as img_macro %}
{% import "macros/card.html" as card_macro %}

{% macro faq(question, answer, sprites) %}
  <details class="group">
    <summary>
      <div><div></div><div></div></div>
      <span>{{ question }}</span>
    </summary>
    <div>
      {{ answer }}
    </div>
  </details>
{% endmacro %}


{% block content %}
<main class="max-w-[unset] px-[unset]">

  {% set image_json = load_data(path="pocketbase/Images/" ~ "frontcover.json", format="json") %}
  {% set image = "pocketbase/img/" ~ image_json.image %}
  {% set filename = image | split(pat="/") | last %}
  {% set lqip_file = "pocketbase/lqip/" ~ filename ~ ".base64" %}
  {% set lqip = load_data(path=lqip_file) %}
  <div class="relative h-screen bg-cover bg-center"
    style="background-image: url('{{ lqip }}')">
    {% set mdata = get_image_metadata(path=image) %}
    {% set sm = resize_image(path=image, width=360, height=mdata.height, op="fill", format="avif", quality=55) %}
    {% set md = resize_image(path=image, width=720, height=mdata.height, op="fill", format="avif", quality=55) %}
    {% set lg = resize_image(path=image, width=1080, height=mdata.height, op="fill", format="avif", quality=55) %}
    {% set xl = resize_image(path=image, width=1920, height=mdata.height, op="fill", format="avif", quality=55) %}

    <picture style="background-image: url('{{ lqip }}');">
      <source srcset="{{ xl.url }}" media="(min-width: 1200px)">
      <source srcset="{{ lg.url }}" media="(min-width: 768px)">
      <source srcset="{{ md.url }}" media="(min-width: 425px)">
      <img src="{{ sm.url }}"
        fetchpriority="high"
        alt="frontpage regeneration church"
        class="inset-0 opacity-0 transition-opacity duration-700 w-full h-full"
        height="{{ xl.height }}" width="{{ xl.width }}"
        style="height: 100%; width: calc(100% + ((100% * ((100% / 16) * 9)) - 100%));"
        onload="this.classList.remove('opacity-0')"
      >
    </picture>

    <div class="scroll-smooth absolute inset-0 w-full bg-black/40 p-8 flex items-center justify-center">
      <button id="main-title" class="cursor-pointer px-4 py-4 flex flex-col justify-center items-center">
        <div class="text-5xl text-center text-white font-alumni tracking-wider">
          Making diciples of<br>all Nations<br>
          in the heart of<br>Clayton, Monash
        </div>
        <svg class="text-white mt-8 size-12 animate-[bounce_1s_ease-in-out_3.5]">
          <use href="{{ sprites }}#chevron-down-thin"></use>
        </svg>
      </button>
    </div>
  </div>

  <div class="py-8 px-4 flex flex-col gap-8">
    <h1 class="regen-title mt-4" id="3-services">
      <b>3 Services,</b> 1 Mission<br>Encountering Jesus together every Sunday
    </h1>

    <div class="flex gap-4 overflow-x-auto md:mx-auto w-fit max-w-[95vw]">
        {{ card_macro::image_with_caption(
        image="morning_service",
        title="10am Morning Service",
        body="A vibrant, family-friendly service with a fun kids' program. Perfect for all ages!"
        ) }}
      {{ card_macro::image_with_caption(
      image="mandarin_service",
      title="2pm Mandarin Service",
      body="A welcoming service in Mandarin, tailored for the Chinese-speaking community."
      ) }}
      {{ card_macro::image_with_caption(
      image="night_service",
      title="5pm Night Service",
      body="A dynamic space for students and young adults to connect through worship and a meal together."
      ) }}
    </div>

    <a href="{{ get_url(path='@/_index.md') }}#get-in-touch"
      class="mt-4 regen-button">
      <svg class="text-yellow-400"><use href="{{ sprites }}#church"></use></svg>
      <div>Plan a Visit</div>
    </a>
  </div>


  <div class="bg-primary/10 py-8 px-4 flex flex-col gap-8">

    <h1 class="regen-title">
      More Than a Small Group: <b>Missional Communities</b>
    </h1>
    <h4 class="-my-2 max-w-xl mx-auto">
      Missional Communities (MCs) are small groups committed to being formed by Jesus in community for the sake of
      others.
      We usually meet weekly in homes where we:
    </h4>

    <div class="grid grid-cols-2 md:grid-cols-4 gap-2 md:gap-4 text-white mx-auto">
      {% set card_css = 'flex flex-col gap-2 items-center justify-center aspect-square p-8 w-full h-full bg-primary
      md:rounded-full md:p-12' %}

      <div class="{{ card_css }} rounded-t-full rounded-l-full">
        <svg>
          <use href="{{ sprites }}#spoon-fork"></use>
        </svg>
        <div class="text-xl">Eat</div>
      </div>
      <div class="{{ card_css }} rounded-t-full rounded-r-full">
        <svg>
          <use href="{{ sprites }}#pray"></use>
        </svg>
        <div class="text-xl">Pray</div>
      </div>
      <div class="{{ card_css }} rounded-b-full rounded-l-full">
        <svg>
          <use href="{{ sprites }}#bible"></use>
        </svg>
        <div class="text-xl">Study</div>
      </div>
      <div class="{{ card_css }} rounded-b-full rounded-r-full">
        <svg>
          <use href="{{ sprites }}#people-heart"></use>
        </svg>
        <div class="text-xl">Serve</div>
      </div>
    </div>

    <a href="{{ get_url(path='@/church/mcs.md') }}" class="mt-4 regen-button">
      <svg class="text-rose-500">
        <use href="{{ sprites }}#heart"></use>
      </svg>
      <div>Find an MC</div>
    </a>

  </div>

  <div class="bg-primary/5 py-8 px-4 flex flex-col gap-8">
    <h1 class="regen-title">
      Come be Transformed by <b>Gospel-Centred</b> Sermons
    </h1>

    {% set files = load_data(path="pocketbase/Sermons/filenames.json", format="json") %}
    {% set_global sermon_series = [] %}
    {% for f in files %}
      {% set s = load_data(path="pocketbase/Sermons/" ~ f, format="json") %}
      {% set_global sermon_series = sermon_series | concat(with=s) %}
    {% endfor %}
    {% set_global sermon_series = sermon_series | sort(attribute="created") | reverse %}

    <div class="grid md:grid-cols-4 grid-cols-2 gap-2 group w-full max-w-2xl mx-auto">

      {% for series in sermon_series %}
        <a
          href={{ series.link }} target="_blank"
          class="opacity-100 nth-[n+4]:group-has-checked:hidden"
        >
          {{ img_macro::simple(
              image=series.image,
              sizes="(min-width: 800px) 162px, (min-width: 760px) calc(-850vw + 6792px), calc(45.91vw - 8px)",
              alt="sermon series thumbnail",
              class="rounded-md",
          ) }}

        </a>
      {% endfor %}

        <label class="cursor-pointer bg-primary rounded-md flex flex-col items-center justify-center font-bold gap-2 aspect-square">
          <input type="checkbox" class="size-0 opacity-0 peer" checked />
            <div class="hidden group-has-checked:flex gap-2 justify-center">
              {% set circle_css = 'rounded-full size-5 bg-onPrimary' %}
              <div class="{{ circle_css }}"></div>
              <div class="{{ circle_css }}"></div>
              <div class="{{ circle_css }}"></div>
            </div>
            <div class="flex group-has-checked:hidden justify-center">
              <svg class="size-16 text-onPrimary"><use href="{{ sprites }}#chevron-up"></use></svg>
            </div>
        </label>

    </div>

    <div class="py-8 px-4 flex flex-col gap-2">
      <a href="https://www.youtube.com/@RegenerationMonash/live" target="_blank" class="regen-button mt-4">
        <svg class="size-8">
          <use href="{{ sprites }}#youtube-coloured"></use>
        </svg>
        <div>Join Our Livestream</div>
      </a>
      <a href="https://open.spotify.com/user/31a2u4zg7qy2vopmchtesxdfu3jy" target="_blank" class="regen-button">
        <svg class="size-8 text-[#11c84b]">
          <use href="{{ sprites }}#spotify"></use>
        </svg>
        <div>Listen to Past Sermons</div>
      </a>
    </div>
  </div>

  <div class="py-8 px-4 flex flex-col gap-8">
    <h1 id="get-in-touch" class="regen-title">
      Join us as we follow Jesus, who makes <b>Disciples</b> of all Nations
    </h1>
    <div class="grid md:grid-cols-2 gap-8 max-w-5xl mx-auto px-4">

      {{ img_macro::standalone(
      image="homepage_building",
      sizes="(min-width: 1120px) 480px, (min-width: 780px) 43.13vw, calc(100vw - 64px)",
      alt="Regeneration Church Building",
      class="rounded-md my-auto md:order-2",
      ) }}

      <div class="md:order-1 my-auto">
        <h3 class="font-bold">When should I come?</h3>
        <p>
          We have 3 services every Sunday, choose the one that fits you best:
          <ul class="article-list">
            <li>
              <strong>Morning Service: 10am.</strong>
              A welcoming start to the day with a kids’ program.
            </li>
            <li>
              <strong>Mandarin Service: 2pm.</strong>
              Feel at home worshiping in your native language.
            </li>
            <li>
              <strong>Night Service: 5pm.</strong>
              End the day on a high note, great for university students and young adults.
            </li>
          </ul>
        </p>
      </div>


      <a class="relative md:order-4 md:col-span-2 w-full max-w-md mx-auto" href="https://maps.app.goo.gl/s9WxYijs8rEQn3X18" target="_blank">
        <svg class="size-[unset] w-full h-full rounded-md aspect-square shadow-xs shadow-stone-400">
          <use href="{{ sprites }}#google-map"></use>
        </svg>
        <div class="regen-button h-fit absolute bottom-12 inset-x-0 bg-background">
          <svg><use href="{{ sprites }}#google-maps-icon"></use></svg>
          <div class="w-full leading-none text-center">
            <span class="text-lg">118 Wellington Rd</span>
            <br>
            <span class="text-onBackground/70 text-xs">Clayton VIC 3168</span>
          </div>
          <div class="w-5"></div>
        </div>
      </a>

      <h1 class="font-bold md:order-5 md:col-span-2 text-center mt-16">
        What happens at church?
      </h1>

      <div class="md:order-6 my-auto">
        <h3 class="font-bold">Before the service</h3>
        <p>
          There’s plenty of on-site parking.
          Our Hospitality Team will greet you at the entrance and
          help with anything you need.
          Don’t worry if you’re running late—they’ll make sure
          you find a seat as soon as you arrive.
        </p>
      </div>
      {{ img_macro::standalone(
      image="homepage_before_service",
      sizes="(min-width: 1120px) 480px, (min-width: 780px) 43.13vw, calc(100vw - 64px)",
      alt="Before service",
      class="rounded-md my-auto md:order-7",
      ) }}

      <div class="md:order-9 my-auto">
      <h3 class="font-bold">During the service</h3>
        <p>
          We sing to God, pray collectively, read the Bible,
          and hear a sermon from one of our pastors. Every other
          week we also partake in communion.
          Don't worry if any of this sounds odd or unfamiliar; come
          as you are and participate as much or as little as you feel comfortable.
        </p>
      </div>
      {{ img_macro::standalone(
      image="homepage_during_service",
      sizes="(min-width: 1120px) 480px, (min-width: 780px) 43.13vw, calc(100vw - 64px)",
      alt="During service",
      class="rounded-md my-auto md:order-8",
      ) }}

      <div class="md:order-10 my-auto">
        <h3 class="font-bold">Kids and families</h3>
        <p>
          Children start the service with the adults. After singing songs to God,
          they hear an engaging kids' talk before they head off to programs tailored
          for them. Feel free to accompany your child to their program or to
          remain with the congregation.
        </p>
      </div>
      {{ img_macro::standalone(
      image="homepage_kids",
      sizes="(min-width: 1120px) 480px, (min-width: 780px) 43.13vw, calc(100vw - 64px)",
      alt="Kids and families during service",
      class="rounded-md my-auto md:order-11",
      ) }}

      <div class="md:order-13 my-auto">
        <h3 class="font-bold">After the service</h3>
        <p>
          After the service, hang around for a delicous cup of barista-style
          coffee and some light morning snacks. This is our gift to you and is
          completely free. 
        </p>
      </div>
      {{ img_macro::standalone(
      image="homepage_after_service",
      sizes="(min-width: 1120px) 480px, (min-width: 780px) 43.13vw, calc(100vw - 64px)",
      alt="After service",
      class="rounded-md my-auto md:order-12",
      ) }}

      <h1 class="font-bold md:order-14 md:col-span-2 text-center my-12">
        Common Questions
      </h1>
      <section class="regen-summary md:order-15 md:col-span-2">
        {{ self::faq(
          question="Can I visit church if I'm not religious?",
          answer="Absolutely. Many people visit just to see what church is like, ask questions, or enjoy the community. We would be honoured to be able to share Jesus with you.",
          sprites=sprites
        )}}
        {{ self::faq(
          question="How long does church go for?",
          answer="Our services normally go for 1 hr 30 mins.",
          sprites=sprites
        )}}
        {{ self::faq(
          question="What should I wear?",
          answer="Dress comfortably, there is no need to dress up. People usually wear what they wear to go to the movies.",
          sprites=sprites
        )}}
        {{ self::faq(
          question="What should I bring?",
          answer="Just bring your wonderful self. If you have kids, feel free to bring any food or drink that they'd need.",
          sprites=sprites
        )}}
        {{ self::faq(
          question="Will I have to do anything?",
          answer="No. You’re welcome to simply watch and listen, with no pressure to participate in anything.",
          sprites=sprites
        )}}
      </section>

    </div>
  </div>

</main>
{% endblock content %}
