{% extends "base.html" %}
{% import "macros/image.html" as img_macro %}
{% import "macros/card.html" as card_macro %}

{% block content %}
<main class="flex flex-col gap-4 px-4">

   <div class="relative -mx-4">
      {{ img_macro::simple(
          image="build/images/cover.png",
          sizes="100vw",
          alt="cover image",
          class="h-[calc(100vh-4rem)] w-full object-cover bg-no-repeat bg-cover bg-center",
          op="fill"
      ) }}

      <div class="absolute w-full bg-black/40 bottom-8 left-0 px-4 py-8 text-2xl md:text-4xl lg:text-5xl font-bold text-white">
        <div class="flex">
          <div class="h-2 w-36 bg-red-600 mb-4"></div>
          <div class="grow"></div>
        </div>
        <p>Making Disciples of All Nations.</p>
        <p>In the heart of Clayton, Monash.</p>
      </div>
  </div>

  <h2 class="regen-title mt-4">
    <b>3 SERVICES,</b> 1 mission: encountering Jesus together every Sunday
  </h2>

  <div class="flex gap-4 overflow-x-auto md:mx-auto">
    {{ card_macro::image_with_caption(
      image="build/images/morning_kids_program.png",
      title="10AM Morning Service",
      body="A vibrant, family-friendly service with a fun kids' program. Perfect for all ages!"
    ) }}
    {{ card_macro::image_with_caption(
      image="build/images/mandarin_service.png",
      title="2PM Mandarin Service",
      body="A welcoming service in Mandarin, tailored for the Chinese-speaking community."
    ) }}
    {{ card_macro::image_with_caption(
      image="build/images/night_dinner.png",
      title="5PM Night Service",
      body="A dynamic space for students and young adults to connect through worship and a meal together."
    ) }}
  </div>

  <a href="{{ get_url(path='@/_index.md') }}#get-in-touch" class="mt-4">
    <div class="regen-button">
      <svg class="text-yellow-400">
        <use href="{{ sprites }}#church"></use>
      </svg>
      <div>PLAN A VISIT</div>
    </div>
  </a>

  <hr>

  <h2 class="regen-title">
    More Than a Small Group: <b>MISSIONAL COMMUNITIES</b>
  </h2>
  <p class="-my-2">
    Missional Communities (MCs) are small groups committed to being formed by Jesus in community for the sake of others.
    We usually meet weekly in homes where we:
  </p>

  <div class="grid grid-cols-2 gap-2 text-white mx-auto">
    <div class="regen-mc-card rounded-t-full rounded-l-full">
      <svg><use href="{{ sprites }}#spoon-fork"></use></svg>
      <h3>Eat</h3>
    </div>
    <div class="regen-mc-card rounded-t-full rounded-r-full">
      <svg><use href="{{ sprites }}#pray"></use></svg>
      <h3>Pray</h3>
    </div>
    <div class="regen-mc-card rounded-b-full rounded-l-full">
      <svg><use href="{{ sprites }}#bible"></use></svg>
      <h3>Study</h3>
    </div>
    <div class="regen-mc-card rounded-b-full rounded-r-full">
      <svg><use href="{{ sprites }}#people-heart"></use></svg>
      <h3>Serve</h3>
    </div>
  </div>

  <a href="{{ get_url(path='@/community_hub/_index.md') }}#mc-locations" class="mt-4">
    <div class="regen-button">
      <svg class="text-rose-500">
        <use href="{{ sprites }}#heart"></use>
      </svg>
      <div>FIND A MC</div>
    </div>
  </a>

  <hr>

  <h2 class="regen-title">
    Come be transformed by <b>GOSPEL-CENTRED</b> sermons
  </h2>

  {% include "partial/sermon_series.html" %}

  <a href="https://www.youtube.com/@RegenerationMonash/live" target="_blank" class="mt-4">
    <div class="regen-button">
      <svg class="size-8">
        <use href="{{ sprites }}#youtube"></use>
      </svg>
      <div>JOIN OUR LIVESTREAM</div>
    </div>
  </a>

  <hr>

  <h2 id="get-in-touch" class="regen-title">
    Join us as we follow Jesus, who makes <b>DISCIPLES</b> of all nations.
  </h2>

  <div class="grid md:grid-cols-2 gap-4">
    <div class="flex flex-col gap-4">

      <p class="text-lg md:px-20">
        We are a church community in Clayton, across the street from Monash University
        Clayton campus.
      </p>

      <a href={{ get_url(path='@/about/1_our_leaders.md') }}>
        <div class="regen-button">
          <svg class="text-green-500"><use href="{{ sprites }}#chatboxes"></use></svg>
          <div>TALK TO A PASTOR</div>
        </div>
      </a>

      <a href="{{ get_url(path='@/community_hub/_index.md')}}#announcements">
        <div class="regen-button">
          <svg class="text-sky-500"><use href="{{ sprites }}#trumpet"></use></svg>
          <div>ANNOUNCEMENTS</div>
        </div>
      </a>

      <a href="https://regenerationchurchmonash.elvanto.com.au/form/f44cfb9d-8cd0-4368-8d6d-cc4a538d3c9d" target="_blank">
        <div class="regen-button-important">
          <svg><use href="{{ sprites }}#handshake"></use></svg>
          <span>GET CONNECTED</span>
        </div>
      </a>

    </div>


    {% include "partial/regen_map.html" %}
  </div>

</main>
{% endblock content %}
