{% extends "base.html" %}
{% import "macros/image.html" as img_macro %}
{% import "macros/card.html" as card_macro %}

{% block content %}
<main>

  <div class="relative">
      {{ img_macro::standalone(
          image="frontcover",
          sizes="100vw",
          alt="cover image",
          class="h-[calc(95vh-4rem)] w-full object-cover bg-no-repeat bg-cover bg-center",
          op="fill"
      ) }}

      <div class="absolute inset-0 w-full bg-black/40 p-8 text-4xl text-center text-white tracking-wider flex items-center justify-center">
        <div class="px-4 py-4 flex flex-col justify-center items-center">
          <svg class="size-[unset] h-[30vh]">
            <use href="{{ sprites }}#title"></use>
          </svg>
          <svg class="mt-8 size-12 animate-[bounce_1s_ease-in-out_3.5]">
            <use href="{{ sprites }}#chevron-down-thin"></use>
          </svg>
        </div>
      </div>
  </div>

  <div class="py-8 px-4 flex flex-col gap-8">
    <h1 class="regen-title mt-4">
      <b>3 SERVICES,</b> 1 mission: encountering Jesus together every Sunday
    </h1>

    <div class="flex gap-4 overflow-x-auto md:mx-auto">
      {{ card_macro::image_with_caption(
        image="morning_service",
        title="10AM Morning Service",
        body="A vibrant, family-friendly service with a fun kids' program. Perfect for all ages!"
      ) }}
      {{ card_macro::image_with_caption(
        image="mandarin_service",
        title="2PM Mandarin Service",
        body="A welcoming service in Mandarin, tailored for the Chinese-speaking community."
      ) }}
      {{ card_macro::image_with_caption(
        image="night_service",
        title="5PM Night Service",
        body="A dynamic space for students and young adults to connect through worship and a meal together."
      ) }}
    </div>

    <a href="{{ get_url(path='@/_index.md') }}#get-in-touch" class="mt-4">
      <div class="regen-button">
        <svg class="text-yellow-400"><use href="{{ sprites }}#church"></use></svg>
        <div>Plan a Visit</div>
      </div>
    </a>
  </div>


  <div class="bg-red-400/10 py-8 px-4 flex flex-col gap-8">

  <h1 class="regen-title">
    More Than a Small Group: <b>MISSIONAL COMMUNITIES</b>
  </h1>
  <h4 class="-my-2 max-w-xl mx-auto">
    Missional Communities (MCs) are small groups committed to being formed by Jesus in community for the sake of others.
    We usually meet weekly in homes where we:
  </h4>

  <div class="grid grid-cols-2 md:grid-cols-4 gap-2 md:gap-4 text-white mx-auto">
    {% set card_css = 'flex flex-col gap-2 items-center justify-center aspect-square p-8 w-full h-full bg-red-500 md:rounded-full md:p-12' %}

    <div class="{{ card_css }} rounded-t-full rounded-l-full">
      <svg><use href="{{ sprites }}#spoon-fork"></use></svg>
      <h3>Eat</h3>
    </div>
    <div class="{{ card_css }} rounded-t-full rounded-r-full">
      <svg><use href="{{ sprites }}#pray"></use></svg>
      <h3>Pray</h3>
    </div>
    <div class="{{ card_css }} rounded-b-full rounded-l-full">
      <svg><use href="{{ sprites }}#bible"></use></svg>
      <h3>Study</h3>
    </div>
    <div class="{{ card_css }} rounded-b-full rounded-r-full">
      <svg><use href="{{ sprites }}#people-heart"></use></svg>
      <h3>Serve</h3>
    </div>
  </div>

  <a href="{{ get_url(path='@/church/mcs.md') }}" class="mt-4">
    <div class="regen-button">
      <svg class="text-rose-500">
        <use href="{{ sprites }}#heart"></use>
      </svg>
      <div>Find an MC</div>
    </div>
  </a>

  </div>

  <div class="py-8 px-4 flex flex-col gap-8">
  <h1 class="regen-title">
    Come be transformed by <b>GOSPEL-CENTRED</b> sermons
  </h1>

  {% include "partial/sermon_series.html" %}

  <a href="https://www.youtube.com/@RegenerationMonash/live" target="_blank" class="mt-4">
    <div class="regen-button">
      <svg class="size-8">
        <use href="{{ sprites }}#youtube-coloured"></use>
      </svg>
      <div>Join Our Livestream</div>
    </div>
  </a>
  </div>

  <div class="bg-amber-400/10 py-8 px-4 flex flex-col gap-8">
  <h1 id="get-in-touch" class="regen-title">
    Join us as we follow Jesus, who makes <b>DISCIPLES</b> of all nations.
  </h1>

  <div class="grid md:grid-cols-2 gap-8 max-w-5xl mx-auto">

    <div class="flex flex-col gap-4">

      <p class="text-lg md:px-20">
        We are a church community in Clayton, across the street from Monash University
        Clayton campus.
      </p>

      <a href="{{ get_url(path='@/church/announcements.md')}}">
        <div class="regen-button">
          <svg class="text-sky-500"><use href="{{ sprites }}#trumpet"></use></svg>
          <div>Announcements</div>
        </div>
      </a>

      <a href="{{ get_url(path='@/connect/_index.md')}}">
        <div class="regen-button-important">
          <svg><use href="{{ sprites }}#handshake"></use></svg>
          <span>Get Connected</span>
        </div>
      </a>

    </div>

    <a class="relative" href="https://maps.app.goo.gl/s9WxYijs8rEQn3X18" target="_blank">
      <svg class="size-[unset] w-full h-full rounded-md aspect-square">
        <use href="{{ sprites }}#google-map"></use>
      </svg>
      <div class="regen-button h-fit absolute bottom-12 inset-x-0 bg-background">
        <svg><use href="{{ sprites }}#google-maps-icon"></use></svg>
        Join us on Sunday
      </div>
    </a>

  </div>
  </div>

</main>
{% endblock content %}
