{% extends "article.html" %}

{% block article %}

{% set sprites = get_url(path='sprites.svg', cachebust=true) | safe %}
{% set files = load_data(path="pocketbase/MC/filenames.json", format="json") %}

<div class="grid sm:grid-cols-3 gap-4 md:max-w-4xl md:mx-auto p-4">
  {% for mc_file in files %}
    {% set mc = load_data(path="pocketbase/MC/" ~ mc_file, format="json") %}
    <div class="flex flex-col gap-2 p-4 bg-surface rounded-md">
      <h3>{{ mc.name }}</h3>
      <div class="flex gap-2 capitalize">
        <svg class="text-yellow-400"><use href="{{ sprites }}#clock"></use></svg>
        {{ mc.day }}
      </div>
      <div class="flex gap-2 capitalize">
        <svg class="text-blue-500"><use href="{{ sprites }}#map-pin"></use></svg>
        {{ mc.location }}
      </div>
      <ul class="capitalize">
        {% set mc_leaders = mc.leaders | split(pat=",") %}
        {% for leader in mc_leaders %}
          <li> {{ leader }} </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>

{% endblock %}
