{% extends "base.html" %}

{% import "macros/image.html" as img_macro %}

{% block content %}

{% include "partial/header_image.html" %}

{% set sprites = get_url(path='sprites.svg', cachebust=true) | safe %}
{% set files = load_data(path="pocketbase/MC/filenames.json", format="json") %}
{% set_global raw_mc_data = [] %}
{% for file in files %}
  {% set mc = load_data(path="pocketbase/MC/" ~ file, format="json") %}
  {% set_global raw_mc_data = raw_mc_data | concat(with=mc) %}
{% endfor %}
{% set mc_data = raw_mc_data | group_by(attribute="day") %}
{% set days_array = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"] %}


<main class="grid md:grid-cols-2 gap-8">
  <div class="flex flex-col gap-4 md:col-span-2 md:max-w-3xl mx-auto mb-4">
    <div class="text-2xl font-bold">
      What are MCs?
    </div>
    <p>
      Missional Communities (MCs) are small groups committed
      to being formed by Jesus in community for the sake of others.
      We usually meet weekly in homes where we eat together, pray and study the
      Bible and seek to serve one another and the community at large.
    </p>
    <p>
      The best way to see what MCs are all about is to join one and see what
      it's like.
    </p>
    <div class="text-2xl font-bold">
      How can I join?
    </div>
    <p>
      You have 3 ways to join:
      <a href="/connect#0001" class="underline text-primary">fill out the newcomer form</a>,
      speak with a pastor, or connect directly with the leader of the MC you want to join.
    </p>
  </div>
  {% for day in days_array %}
  <div class="grid lg:grid-cols-2 gap-4 h-fit">
    <div class="text-2xl font-bold lg:col-span-2">
      {{ day }}
    </div>

    {% set day_lower = day | lower %}
    {{ img_macro::standalone(
      image="mc_" ~ day_lower,
      sizes="(min-width: 1040px) 448px, (min-width: 800px) calc(94.55vw - 516px), (min-width: 760px) calc(-1140vw + 9112px), (min-width: 640px) calc(38vw + 167px), (min-width: 520px) 448px, 90vw",
      alt=day ~ "Promo",
      class="w-full lg:col-span-2",
    ) }}

    {% for mc in mc_data[day] %}
    <div class="flex flex-col gap-2 p-4 bg-surface rounded-md">
      <div class="font-bold text-lg">{{ mc.name }}</div>
      <div class="font-bold text-onBackground/60 text-xs">Details</div>
      <div class="flex gap-2 capitalize">
        <svg class="text-yellow-400">
          <use href="{{ sprites }}#clock"></use>
        </svg>
        {{ mc.time }}
      </div>
      <div class="flex gap-2 capitalize">
        <svg class="text-blue-500">
          <use href="{{ sprites }}#map-pin"></use>
        </svg>
        {{ mc.location }}
      </div>
      {% if mc.leaders %}
      <div class="font-bold text-onBackground/60 text-xs mt-4">Leaders</div>
      <ul class="capitalize article-list mt-0">
        {% set mc_leaders = mc.leaders | split(pat=",") %}
        {% for leader in mc_leaders %}
        <li> {{ leader }} </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</main>

{% endblock %}
