{% extends "base.html" %}

{% block content %}
  <main class= "prose prose-zinc prose-invert p-2 max-w-3xl mx-auto w-screen">
    <div class="flex items-center justify-between">
      <h1 class="text-6xl"> {{ page.title }} </h1>
    </div>
    <div class="italic mb-4"> {{ page.description }} </div>

    {% if page.extra.lead_image %}

    {% set image = page.extra.lead_image %}
    {% set meta = get_image_metadata(path=image) %}
    {% set small = resize_image(path=image, width=800, height=450, op="fill", format="webp", quality=70) %}
    {% set big = resize_image(path=image, width=1600, height=900, op="fill", format="webp", quality=70) %}

    <picture>
      <source media="(max-width: 768px)" srcset="{{ small.url }}">
      <img 
        class="mb-6 w-full rounded-lg"
        src="{{ big.url }}" 
        alt="lead image"
      >
    </picture>
    {% endif %}

    <article>
      {{ page.content | safe }}
    </article>

  </main>
{% endblock content %}
