{% set data = load_data(path="build/giving.yml", format="yaml") %}

<!-- Radio buttons -->
<div class="grid grid-cols-2 lg:grid-cols-5 gap-4">
  {% for account in data %}

    <label class="cursor-pointer">
      <input type="radio" name="giving_account" class="peer hidden" value="{{ account.title }}">
      <div class="regen-button max-w-full peer-checked:bg-ascent peer-checked:text-white peer-checked:border-ascent transition-colors">
        <span class="uppercase">{{ account.title }}</span>
      </div>
    </label>

  {% endfor %}

    <label class="cursor-pointer col-span-2 lg:col-span-1">
      <input type="radio" name="giving_account" class="peer hidden" value="international">
      <div class="regen-button max-w-full peer-checked:bg-ascent peer-checked:text-white peer-checked:border-ascent transition-colors">
        <span class="uppercase">International</span>
      </div>
    </label>
</div>

<!-- Account Info -->
<div class="max-w-md mx-auto mt-4 px-2 py-8 border-y-6 border-double border-onBackground/60">
  {% for account in data %}

  <div id="{{ account.title }}-content" class="hidden">
    <div class="grid grid-cols-[6rem_auto] gap-4 [&>b]:text-right">
      <b>NAME:</b>
      <p class="capitalize">{{ account.name }}</p>
      <b>BSB:</b>
      <p class="capitalize">{{ account.bsb ~ " (" ~ account.bank ~ ")" }}</p>
      <b>ACCOUNT:</b>
      <p>{{ account.account }}</p>
      <b>REFERENCE:</b>
      <p>{{ account.reference_format }}</p>
      <b>EXAMPLE:</b>
      <p>{{ account.example }}</p>
    </div>
  </div>

  {% endfor %}

  <div id="international-content" class="hidden">
    <div class="grid grid-cols-[6rem_auto] gap-4 [&>b]:text-right items-center">
      <b>Name:</b>
      <p>Regeneration Church Monash Incorporated</p>
      <b>ACH Routing Number:</b>
      <p>026073150</p>
      <b>Account Number:</b>
      <p>8334265053</p>
      <b>Bank:</b>
      <p>Community Federal Savings Bank (Barclays Partner)</p>
      <b>Bank Address:</b>
      <p>810 Seventh Avenue, New York, NY 10019, US</p>
    </div>
  </div>
</div>

<script>
  const buttons = document.querySelectorAll('input[name="giving_account"]');
  buttons.forEach(radio => {
      radio.addEventListener('change', function() {
          // Hide all content divs
          document.querySelectorAll('[id$="-content"]').forEach(div => {
              div.classList.add('hidden');
          });
          
          // Show the selected one
          const contentId = `${this.value}-content`;
          document.getElementById(contentId)?.classList.remove('hidden');
      });
  });

  // Select the first button as a default.
  buttons[0].click();
</script>

