{% set data = load_data(literal=`
- title: "Morning Church"
  name: "regeneration church monash incorporated"
  bsb: "033-385"
  bank: "westpac"
  account: "191311"
  reference_format: '"[name/anon] – pledge" OR "[name/anon] – offering"'
  example: "Vinh – Offering"

- title: "Mandarin Church"
  name: "regeneration church monash incorporated"
  bsb: "033-385"
  bank: "westpac"
  account: "243556"
  reference_format: '"[name/anon] – pledge" OR "[name/anon] – offering"'
  example: "Vinh – Offering"


- title: "Night Church"
  name: "regeneration church monash incorporated"
  bsb: "033-385"
  bank: "westpac"
  account: "192891"
  reference_format: '"[name/anon] – pledge" OR "[name/anon] – offering"'
  example: "Vinh – Offering"

- title: "Other"
  name: "regeneration church monash incorporated"
  bsb: "033-385"
  bank: "westpac"
  account: "192904"
  reference_format: "[name/anon] – [description]"
  example: "Anon – Meal; Vinh – For Mission"
`, format="yaml") %}

{% set info_css = 'grid grid-cols-[6rem_auto] gap-4 [&>b]:text-right items-center' %}
<div class="flex flex-col gap-4 py-4">

{% for account in data %}
  <section class="max-w-xl mx-auto w-full">
    <details class="group border border-gray-300 rounded-lg overflow-hidden">
      <summary
        class="cursor-pointer px-4 py-3 bg-gray-100 flex justify-between items-center font-medium 
               transition-colors duration-300 hover:bg-gray-200"
      >
        <span class="capitalize">{{ account.title }}</span>
        <svg class="size-5 transition-transform duration-300 group-open:rotate-180">
          <use href="{{ sprites }}#chevron-down"></use>
        </svg>
      </summary>

      <div
        class="px-4 py-3 text-gray-700 border-t border-gray-300 max-h-0 overflow-hidden transition-all duration-300 group-open:max-h-96"
      >
      <div>
        <div class="{{ info_css }}">
          <b>NAME:</b>
          <p class="capitalize">{{ account.name }}</p>
          <b>BSB:</b>
          <p class="capitalize">{{ account.bsb ~ " (" ~ account.bank ~ ")" }}</p>
          <b>ACCOUNT:</b>
          <p>{{ account.account }}</p>
          <b>REFERENCE:</b>
          <p>{{ account.reference_format }}</p>
          <b>EXAMPLE:</b>
          <p>{{ account.example }}</p>
        </div>
      </div>
      </div>
    </details>
  </section>
  {% endfor %}

  <section class="max-w-xl mx-auto w-full">
    <details class="group border border-gray-300 rounded-lg overflow-hidden">
      <summary
        class="cursor-pointer px-4 py-3 bg-gray-100 flex justify-between items-center font-medium 
               transition-colors duration-300 hover:bg-gray-200"
      >
        <span>International</span>
        <svg class="size-5 transition-transform duration-300 group-open:rotate-180">
          <use href="{{ sprites }}#chevron-down"></use>
        </svg>
      </summary>

      <div
        class="px-4 py-3 text-gray-700 border-t border-gray-300 max-h-0 overflow-hidden transition-all duration-300 group-open:max-h-96"
      >
        <div>
          <div class="{{ info_css }}">
            <b>Name:</b>
            <p>Regeneration Church Monash Incorporated</p>
            <b>ACH Routing Number:</b>
            <p>026073150</p>
            <b>Account Number:</b>
            <p>8334265053</p>
            <b>Bank:</b>
            <p>Community Federal Savings Bank (Barclays Partner)</p>
            <b>Bank Address:</b>
            <p>810 Seventh Avenue, New York, NY 10019, US</p>
          </div>
        </div>
      </div>
    </details>
  </section>
</div>
