{% set data = load_data(path="build/giving.yml", format="yaml") %}

<div class="grid md:grid-cols-4 grid-cols-2 gap-2 group">
  {% for account in data %}
    <div class="">
      {{ account.title }}
      {{ account.name }}
      {{ account.bsb }}
      {{ account.bank }}
      {{ account.account }}
      {{ account.reference }}
      {{ account.example }}
    </div>
  {% endfor %}
    <div class="">
      <h2>Internation Support</h2>
      <p>Account Holder: Regeneration Church Monash Incorporated</p>
      <p>Routing Number: 084009519</p>
      <p>Account number: 9600002236432804</p>
      <p>Account type: Checking</p>
      <p>Bank: Wise</p>
      <p>Wise Address: 19 W 24th Street, New York NY 10010, United States</p>
    </div>
</div>
