<nav class="hidden lg:flex gap-4 whitespace-nowrap items-center">
  {% for nav_item in config.extra.nav_menu %}
    {% if nav_item.link %}
      <a href="{{ nav_item.link }}" class="mr-2">{{ nav_item.title }}</a>
    {% else %}
    <div class="relative group">
        <div data-desktop-nav
          data-target="navdrop-{{ nav_item.title }}"
          class="flex gap-1 items-center cursor-pointer p-2 rounded-md"
        >
            {{ nav_item.title }}
          <svg class="text-onBackground size-4 ml-1 group-hover:text-flair">
            <use href="{{ sprites }}#chevron-down"></use>
          </svg>
        </div>

        <div id="navdrop-{{ nav_item.title }}" class="hidden group-hover:block absolute right-0">
          <ul class="list-none flex flex-col px-4 py-2 mt-4 rounded-md bg-background shadow-sm shadow-black">
            {% for sub_item in nav_item.menu %}

            {% if sub_item.is_section %}
                {% set page = get_section(path=sub_item.path) %}
            {% else %}
                {% set page = get_page(path=sub_item.path) %}
            {% endif %}

            <a href="{{ page.permalink | safe }}">
              <li class="py-2 grid grid-cols-[4rem_auto] items-center group/item">
                <div class="row-span-2 p-2 border-2 border-onBackground/80 group-hover/item:border-flair rounded-md aspect-square mr-2 w-fit">
                  <svg class="group-hover/item:text-flair">
                    <use href="{{ sprites }}#{{ sub_item.icon }}"></use>
                  </svg>
                </div>
                <div class="">{{ page.title }}</div>
                <div class="text-onBackground/80 text-sm">{{ sub_item.desc }}</div>
              </li>
            </a>
            {% endfor %}
          </ul>
        </div>
    </div>
    {% endif %}
  {% endfor %}
</nav>
