<button class="lg:hidden ml-2" id="hamburger-open" aria-label="Open the navigation drawer for mobile devices only">
  <svg class="text-onBackground size-8">
    <use href="{{ sprites }}#hamburger-menu"></use>
  </svg>
</button>

<div class="fixed top-0 left-0 z-10 h-screen w-screen hidden" id="nav-modal">
  <div class="psuedo h-full backdrop-blur-xs"></div>
  <div class="flex z-10 absolute top-0 left-0 h-full w-full">
    <button id="mobile-nav-backdrop" class="flex-grow"></button>
    <div class="flex flex-col bg-background/90 shadow-xs shadow-stone-400 max-w-[95vw] rounded-l-xl transform translate-x-full transition-transform duration-300 ease-in-out" id="nav-modal-drawer">
      <button id="hamburger-close" class="place-self-end">
        <svg class="mx-6 my-6 size-8">
          <use href="{{ sprites }}#x-mark"></use>
        </svg>
      </button>
      <div class="flex-grow"></div>
      <div class="text-right px-8 max-w-[95vw]">
        {% for nav_item in config.extra.nav_menu %}

          {% if nav_item.link %}
            <a href="{{ nav_item.link | safe }}">
              <li class="py-2 flex flex-row-reverse items-center">
                <div class="row-span-2 p-2 border-2 border-onBackground/80 rounded-md aspect-square ml-2 w-fit">
                  <svg>
                    <use href="{{ sprites }}#{{ nav_item.icon }}"></use>
                  </svg>
                </div>
                <div>{{ nav_item.title }}</div>
              </li>
            </a>
          {% else %}
            <p class="font-bold text-xs text-onBackground/70 py-4">{{ nav_item.title }}</p>
            <ul class="flex flex-col gap-2 text-onBackground/90">
              {% for sub_item in nav_item.menu %}

              {% if sub_item.is_section %}
                  {% set page = get_section(path=sub_item.path) %}
              {% else %}
                  {% set page = get_page(path=sub_item.path) %}
              {% endif %}

              <a href="{{ page.permalink | safe }}">
                <li class="py-2 flex flex-row-reverse items-center">
                  <div class="row-span-2 p-2 border-2 border-onBackground/80 rounded-md aspect-square ml-2 w-fit">
                    <svg>
                      <use href="{{ sprites }}#{{ sub_item.icon }}"></use>
                    </svg>
                  </div>
                  <div>{{ page.title }}</div>
                </li>
              </a>
              {% endfor %}
            </ul>
          {% endif %}
        {% endfor %}
      </div>
      <div class="flex-grow"></div>
      <div class="h-30"></div>

    </div>
  </div>
</div>
