<button class="md:hidden" onclick="openNavModal()" aria-label="Open the navigation drawer for mobile devices only">
  <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6" style="--darkreader-inline-fill: currentColor;" data-darkreader-inline-fill=""> 
    <path x-show="!open" fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z" clip-rule="evenodd"></path>
    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" style="display: none;"></path>
  </svg>
</button>

<div class="fixed top-0 left-0 z-10 h-screen w-screen hidden" id="nav-modal">
  <div class="psuedo h-full backdrop-blur-xs"></div>
  <div class="flex z-10 absolute top-0 left-0 h-full w-full">
    <button onclick="closeNavModal()" class="flex-grow"></button>
    <div class="flex flex-col gap-4 bg-background min-w-56 rounded-l-xl transform translate-x-full transition-transform duration-300 ease-in-out" id="nav-modal-drawer">
      <div class="bg-ascent flex flex-row-reverse gap-4 items-center rounded-tl-xl h-32 px-8">
        <div class="text-xl font-bold">REGENERATION</div>
      </div>
      {% set section = get_section(path="_index.md") %}
      <div class="text-right px-8 font-medium text-2xl">
        {% for subpath in section.subsections %}
          {% set subsection = get_section(path=subpath) %}
          <div>
          {% if subsection.extra.no_link %}
            {{ subsection.title }}
          {% else %}
            <a href="{{ subsection.permalink }}">
              {{ subsection.title }}
            </a>
          {% endif %}
          </div>
          {% if subsection.pages %}
            <ul class="list-none flex flex-col gap-4 py-4 text-base">
              {% for page in subsection.pages %}
              <li class="flex gap-2 items-center">
                <a href="{{ page.permalink | safe }}" class="w-full">
                  {{ page.title }}
                </a>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="4.5" class="w-6 h-6 stroke-red-600">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
                </svg>
              </li>
              {% endfor %}
            </ul>
          {% else %}
            <div class="psuedo h-4"></div>
          {% endif %}
        {% endfor %}
        <div class="font-semibold text-ascent text-3xl">
          <a href="{{ get_url(path='@/_index.md') }}#get-in-touch" onclick="closeNavModal()" class="mt-[2px] w-full">
            Visit Us
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  const overlay = document.getElementById('nav-modal');
  const drawer = document.getElementById('nav-modal-drawer');

  function openNavModal() {
    document.body.classList.add('overflow-hidden');
    overlay.classList.toggle('hidden');
    setTimeout(() => {
      drawer.classList.toggle('translate-x-full');
    }, 10);
  }
  function closeNavModal() {
    document.body.classList.toggle('overflow-hidden');
    drawer.classList.add('translate-x-full');
    setTimeout(() => {
      overlay.classList.add('hidden');
    }, 300);
  }
</script>
