{% set optimg_op = optimg_op | default(value="fit_width") %}
{% set mdata = get_image_metadata(path=image) %}
{% set sm = resize_image(path=image, width=360, height=mdata.height, op=optimg_op, format="webp", quality=75) %}
{% set md = resize_image(path=image, width=720, height=mdata.height, op=optimg_op, format="webp", quality=75) %}
{% set lg = resize_image(path=image, width=1080,height=mdata.height,  op=optimg_op, format="webp", quality=75) %}
{% set xl = resize_image(path=image, width=1920,height=mdata.height,  op=optimg_op, format="webp", quality=75) %}

<img 
  class="{{ optimg_class }}"
  src="{{ xl.url }}" 
  srcset="
    {{ sm.url }} {{ sm.width }}w,
    {{ md.url }} {{ md.width }}w,
    {{ lg.url }} {{ lg.width }}w,
    {{ xl.url }} {{ xl.width }}w,
  "
  sizes="{{ optimg_sizes }}"
  alt="{{ optimg_alt }}"
  height="{{ xl.height }}"
  width="{{ xl.width }}"
>
