{% import "macros/image.html" as img_macro %}
{% set data = load_data(path="build/sermon_series.yml", format="yaml") %}

<div id="sermonContainer" class="grid md:grid-cols-4 grid-cols-2 gap-2 group">

  {% for series in data %}
    <a
      href={{ series.link }} target="_blank"
      class="opacity-100
      nth-[n+4]:group-has-checked:hidden
      "
    >
      {{ img_macro::simple(
          image="build/sermons/" ~ series.image ~ ".png",
          sizes="(min-width: 780px) calc(25vw - 14px), calc(50vw - 20px)",
          alt="sermon series thumbnail",
          class="rounded-md",
      ) }}

    </a>
  {% endfor %}

    <label class="cursor-pointer bg-ascent rounded-md flex flex-col items-center justify-center font-bold gap-2">
      <input type="checkbox" class="w-0 h-0 opacity-0 peer" checked />
      <div class="">
        <div class="hidden group-has-checked:flex gap-2 justify-center">
          <div class="rounded-full w-5 h-5 bg-zinc-200"></div>
          <div class="rounded-full w-5 h-5 bg-zinc-200"></div>
          <div class="rounded-full w-5 h-5 bg-zinc-200"></div>
        </div>
        <div class="group-has-checked:hidden flex justify-center">
          <svg class="size-16"><use href="{{ sprites }}#chevron-up"></use></svg>
        </div>
      </div>
    </label>

</div>
