{% import "macros/image.html" as img_macro %}
{% set files = load_data(path="pocketbase/Sermons/filenames.json", format="json") %}

<div class="grid md:grid-cols-4 grid-cols-2 gap-2 group w-full max-w-2xl mx-auto">

  {% for series_file in files %}
    {% set series = load_data(path="pocketbase/Sermons/" ~ series_file, format="json") %}
    <a
      href={{ series.link }} target="_blank"
      class="opacity-100 nth-[n+4]:group-has-checked:hidden"
    >
      {{ img_macro::simple(
          image=series.image,
          sizes="(min-width: 800px) 162px, (min-width: 760px) calc(-850vw + 6792px), calc(45.91vw - 8px)",
          alt="sermon series thumbnail",
          class="rounded-md",
      ) }}

    </a>
  {% endfor %}

    <label class="cursor-pointer bg-primary rounded-md flex flex-col items-center justify-center font-bold gap-2">
      <input type="checkbox" class="size-0 opacity-0 peer" checked />
        <div class="hidden group-has-checked:flex gap-2 justify-center">
          {% set circle_css = 'rounded-full size-5 bg-onPrimary' %}
          <div class="{{ circle_css }}"></div>
          <div class="{{ circle_css }}"></div>
          <div class="{{ circle_css }}"></div>
        </div>
        <div class="flex group-has-checked:hidden justify-center">
          <svg class="size-16 text-onPrimary"><use href="{{ sprites }}#chevron-up"></use></svg>
        </div>
    </label>

</div>
