{% set link_css = 'flex justify-center items-center gap-2' %}

<div class="grid grid-cols-2 gap-4 mx-auto w-fit">
  <a href="https://www.facebook.com/regenerationchurchmonash" target="_blank" class="{{ link_css }}">
    <svg class="text-blue-700"><use href="{{ sprites }}#facebook"></use></svg>
    Facebook
  </a>
  <a href="https://regenerationchurchmonash.elvanto.com.au/login" target="_blank" class="{{ link_css }}">
    <svg class="size-5"><use href="{{ sprites }}#elvanto"></use></svg>
    Elvanto
  </a>
  <a href="https://github.com/jadedhound/regen_church" target="_blank" class="{{ link_css }} whitespace-nowrap col-span-2">
    <svg><use href="{{ sprites }}#github"></use></svg>
    Source v{{- now() | date(format="%d.%m.%y") -}}
  </a>
</div>
